@model Cart 
<div class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
        <i class="fa fa-shopping-cart"></i>
        <span>Sepetim</span>
        <div class="qty">@Model.CartLines.Count</div>
    </a>
    <div class="cart-dropdown">
        <div class="cart-list" id="spnCart">
            @foreach (var item in Model.CartLines)
            {
                <div class="product-widget">
                    <div class="product-img">
                        @*<img src="~/panel/img/@item.Product.Image" alt="">*@
                    </div>
                    <div class="product-body">
                        <h3 class="product-name"><a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Product.Id">@item.Product.Name</a></h3>
                        <h4 class="product-price"><span class="qty">@item.Quantity x</span>@item.Product.UnitPrice</h4>
                    </div>
                    <a class="delete" asp-controller="Cart" asp-action="RemoveFromCart" asp-route-productId="@item.Product.Id"><i class="fa fa-close"></i></a>
                </div>
            }


        </div>
        <div class="cart-summary">
            <small>@Model.CartLines.Count Item(s) selected</small>
            <h5>Toplam Tutar: @Model.Total</h5>
        </div>
        <div class="cart-btns">
            <a href="#">View Cart</a>
            <a asp-controller="Order" asp-action="Contact">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>